body{
    background-color: black;
     }

     @media screen and (max-width: 640px) { 
      .column {
        width: 50%;
      }    
    }
    
  .dropdown {
      display: inline-block;
      position: relative;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      width: 100%;
      overflow: auto;
      box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown-content a {
      display: block;
      color: #000000;
      padding: 5px;
      text-decoration: none;
    }
    .dropdown-content a:hover {
      color: #000000;
      background-color: #00A4BD;
    }


footer{
    clear: both;    
   
    
}

.columna {
    width:33%;
    float:left;
    
  }
  p{
    color: aliceblue;
  }
  
  @media (max-width: 1200px) {
    
    .columna {
      width:max-content;
      float:none;
    }
    
  }

  .contenedor{
    background: #000000;
  
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 100px); 
  }

  .caja_1{
    width: 300px;
    height: 300px;
    text-align: center;
  }
  .caja_2{
    width: 300px;
    height: 300px;
    text-align: center;
  }

  